.table-wrapper {
  border: 1px solid rgb(gainsboro);
  border-radius: 10px;
  margin-top: 100px;
}

/*.table th {
  margin-top: 100px;
  background-color: rgb(19, 93, 153);
  color: #ffffff;
  border: none; 
}*/

.bg-blue {
  background-color: rgb(58, 60, 68);
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f7f7f7;
  font-family: Roboto, sans-serif;
}

.btn-pink {
  background-color: #f50057;
  color: #f7f7f7;
}

  .btn-add {
  background-color: rgb(233, 229, 229);
  margin: 10px 30px 0px 0px !important;
  color: black;
  font-family: "Roboto Regular";
}

.btn-signIn {
  background-color: rgb(9, 156, 65);
  color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.btn-signIn:hover {
  background-color: rgb(21, 122, 26);
}

.head-panel {
  background-color: rgb(19, 93, 153);
  color: white;

}

.table-title {
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  padding-left: 5%;
  padding-top: 10px;
  margin-bottom: 0px;
}
