.table th {
  margin-top: 100px;
  background-color: rgb(46, 133, 204);
  color: #ffffff;
}

.bg-blue {
  background-color: rgb(48, 47, 47);
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f7f7f7;
  font-family: Roboto, sans-serif;
}

.btn-pink {
  background-color: #f50057;
  color: #f7f7f7;
}

.btn-add {
  background-color: rgb(46, 133, 204);
  color: white;
}

.btn-signIn {
  background-color: rgb(54, 53, 53);
  border: 2px solid #ffffff;
  color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.btn-signIn:hover {
  background-color: white;
  color: rgb(54, 53, 53);
}


