
<div class="container">
  <div class="col-md-12">
    <router-outlet></router-outlet>
    <!-- <div class="row">
      <div class="col-md-6">
        <input id="newName" [(ngModel)]='food.Name' type="text" placeholder="food" />
      </div>
      <div class="col-md-6">
        <input id="fats" [(ngModel)]='food.fats' type="text" placeholder="fats" />
      </div>
    </div> -->
    
      <div class="head-panel">
        <div class="row">
          <div class="col-12">
            <button type="button" class="btn btn-add btn-md float-right" (click)="open()" type="submit">
              <i class="fa fa-plus"> Add</i>
            </button>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Fats</th>
            <th>Calories</th>
            <th>Proteins</th>
            <th>Hydrates</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let food of foods">
            <td>{{food.$id}}</td>
            <td>{{food.foodName}}</td>
            <td>{{food.fats}}</td>
            <td>{{food.kCalory}}</td>
            <td>{{food.protein}}</td>
            <td>{{food.foodCarboHydrates}}</td>

            <td class="text-center">
              <button type="button" class="btn btn-pink btn-sm">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
