<nav class="navbar  navbar-expand-md  navbar-dark bg-dark mb-4">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Diary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/foods']">Foods</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/meals']">Meal</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-search my-2 my-sm-0" type="submit">Search</button>
      <button class="btn btn-signIn my-2 ml-4 my-sm2" *ngIf="!(isLoggedIn)"
            [routerLink]="['/signIn']" >Sign In</button>
      <button class="btn btn-signOut my-2 ml-4 my-sm2" *ngIf="(isLoggedIn)"
            (click)="logOut()">Sign Out</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
