.table th {
  margin-top: 100px;
  border-collapse: collapse;
  border: none;
}

.bg-black {
  background-color: rgb(48, 47, 47);
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f7f7f7;
  font-family: Roboto, sans-serif;
}

.btn-pink {
  background-color: #f50057;
  color: #f7f7f7;
}

.btn-add {
  background-color: rgb(236, 238, 240);
  margin: 10px;
}

.btn-signIn {
  background-color: rgb(0, 138, 74);
  color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.btn-search{
  background-color: #75c1ff;
  color: #ffffff;
}

.btn-signOut {
  background-color: #f50057;
  color: white;
}

.head-panel {
  background-color: rgb(46, 133, 204);
}

.btn-primary {
  background-color: rgb(46, 133, 204);
}
